.clr,
#block-menu-2 .content,
#content-home,
.clear-block,
#content-wrapper,
.content-body .box,
#content-wrapper-1 .meta,
#content-1,
#comment-form .form-item,
.comment,
#block-menu-2 ul.menu li,
#block-menu-2 ul.menu a,
#node-form .link-field-row,
#banner
{
	display:inline-block;
}
#content-wrapper-1 .post .links ul {
	padding:5px 0;
}
#content-wrapper-1 .post .meta {
	padding:5px 0 4px;
}
#block-menu-2 ul.menu li{
	vertical-align:top;
}
#banner .news ul li h4.date {
	margin:0;
}
#banner .news ul li h3.title {
	margin:0 0 3px;
}